@model ExamProject.Dtos.wiredModel
@{
    ViewData["Title"] = "Index";
}



@foreach (var item in Model.wiredItems)
{
    <a asp-action="ExamCreate" asp-controller="Exam" asp-route-id="@item.wiredId">  <h1>@Html.Raw(item.header)</h1> </a>
    @Html.Raw( item.paragraph)
   



}
